<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<div>
<div th:if="${cart.productMap.isEmpty()}">
    <h2>Your cart is empty.</h2>
    <a th:href="@{/shop}">Shop now!</a>
</div>
<div th:unless="${cart.productMap.isEmpty()}">
    <th:block th:if="${message}">
        <h3> <p th:text="${message}" style="color: blue"></p></h3>
    </th:block>
<table border="1" style="margin: 0 auto">
    <caption style="font-weight: bold; font-size: 35px">Your cart contains <span th:text="${cart.productMap.size()}"></span> item(s), <span th:text="'total amount is: ' + ${cart.countTotalPayment()}"></span> </caption>
    <a th:href="@{/shop}" style="font-size: 35px">Shop more!</a>
    <tr>
        <td>Name</td>
        <td>Image</td>
        <td>Description</td>
        <td>Price</td>
        <td>Discount</td>
        <td>Quantity</td>
        <td>Total of item</td>
        <td>Action</td>
    </tr>
    <th:block th:each="product:${cart.productMap}">
        <tr>
            <td th:text="${product.key.name}"></td>
            <td>
                <img th:src="${product.key.image}"  style="width: 250px; height: 250px; margin: 15px">
            </td>
            <td th:text="${product.key.description}"></td>
            <td th:text="${product.key.price}" id="price" th:value="${product.key.price}"></td>
            <td th:text="${product.key.discount}"></td>
            <td>
                <a th:href="@{/shop/add/__${product.getKey().id}__(action='reduce')}"
                   th:text="${'-'}" style="text-decoration: none"></a>
                <span th:text="${product.value}"></span>
                <a th:href="@{/shop/add/__${product.getKey().id}__(action='increase')}"
                   th:text="${'+'}" style="text-decoration: none"></a>
            </td>
            <td id="resultItem" th:text="${product.key.price * product.value}"></td>
            <td style="font-weight: bold"><a th:href="@{/shop/remove/__${product.key.id}__}">Remove this product</a></td>
        </tr>
</th:block>
</table>
</div>
</div>
</body>
<script src="/jquery/jquery-3.5.1.min.js"></script>
</html>