<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Song</title>
    <style>
        form {
            width: 40%;
        }
        div>div{
            color: red;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>


<div class="container mt-3">

    <h3>Edit Song</h3>


    <form th:action="@{/edit}" th:object="${songDto}" method="post">

        <!-- Vertical -->
        <div class="form-group">
            <input th:field="*{id}" type="hidden" class="form-control" />

            <!--            first name-->
            <label for="name">Name</label>
            <input th:field="*{name}" id="name" class="form-control" />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

            <!--            Last name-->
            <label for="singer">Singer</label>
            <input id="singer" th:field="*{singer}" class="form-control" />
            <div th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></div>

            <!--            Phone number-->
            <label for="musicGenre">Music Genre</label>
            <input class="form-control" th:field="*{musicGenre}" id="musicGenre"/>
            <div th:if="${#fields.hasErrors('musicGenre')}" th:errors="*{musicGenre}"></div>

            <button type="submit" class="btn btn-primary mt-3">Edit</button>
        </div>
    </form>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</body>
</html>