<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<header th:replace="/layout :: header"></header>
<h3>Edit blog</h3>
<p>
    <a href="/blog">Blog list</a>
</p>
<div th:if="${message}">
    <span th:text="${message}" style="color: red;margin: 5px"></span>
</div>
<form th:action="@{/edit-blog}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Summary:</td>
            <td><input type="text" th:field="*{summary}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{date}" readonly/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category.id}">
                    <option th:each="c : ${categoryList}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update blog"></td>
        </tr>
    </table>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>