<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:object="${product}" action="/save" method="post">
    <table>
        <tr>
            <td>Id</td>
            <td>
                <input type="number" th:field="*{id}"/>
            </td>
        </tr>

        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}"/>
            </td>
        </tr>

        <tr>
            <td>Price</td>
            <td>
                <input type="number" th:field="*{price}"/>
            </td>
        </tr>

        <tr>
            <td>Description</td>
            <td>
                <input type="text" th:field="*{description}"/>
            </td>
        </tr>

        <tr>
            <td>Produce</td>
            <td>
                <input type="text" th:field="*{producer}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create">
            </td>
        </tr>
    </table>
</form>


</body>
</html>