<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="text-align: center">List Product</p>
<p style="text-align: center">
    <a th:href="@{/create}">Add Product</a>
</p>


<!--<form action="#" th:action="@{/search/}" method="post" style="text-align: center">-->
<!--    <h2>Search product name</h2><br>-->
<!--    <input type="text" th:name="productName" style="width: 250px" placeholder="Product name">-->
<!--    <input type="submit" value="Search" style="width: 150px">-->
<!--</form>-->


<form action="/search" method="post" style="text-align: center">


    <input style="display: inline" type="text" placeholder="searchName" name="name"/>
    <input style="width: 100px" type="submit" value="Search"/>

</form>

<p>

<div class="notify" style="text-align: center ">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
</p>
<!--cach2-->
<!--<h2 style="color: red" th:text="${success}"></h2>-->


<table align="center" border="1" style="margin: 0px auto;">

    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Producer</th>
        <th colspan="3" style="text-align: center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product :${ListProduct}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.producer}"></td>
        <td><a th:href="@{/edit/__${product.id}__}">Edit</a></td>
        <td><a th:href="@{/delete/__${product.id}__}">Delete</a></td>
        <td><a th:href="@{/view/__${product.id}__}">View</a></td>
    </tr>
    </tbody>


</table>


</body>
</html>