<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h5>
    <a th:href="@{/}">
        Back to product list
    </a>
</h5>
<h3>Result</h3>
<!--<h2 style="color: red" th:text="${Message}"></h2>-->

<div th:unless="${products.isEmpty()}">
<!--    <table id = "products">-->
        <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Brand</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.producer}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>